<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/x-icon" href="~/Areas/Dashboard/Content/assets/favicon.ico" />
    <link href="~/Areas/Dashboard/Content/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border bg-white" id="sidebar-wrapper">

            <a class=" m-2 fs-4 text-decoration-none text-reset" href="@Url.Action("Index","Dashboard")">Vacation Dashboard</a>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("Index", "Projects")">
                    <i class="fa-solid fa-diagram-project fa-beat"></i> Projects
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("Index", "Vacations")">
                    <i class="fa-solid fa-calendar-days fa-beat"></i> Vacations
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("Index", "Teams")">
                    <i class="fa-solid fa-people-group fa-beat"></i> Teams
                </a>

                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("Index", "Leaders")">
                    <i class="fa-solid fa-user-tie fa-beat"></i> Leaders
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("Index", "Workers")">
                    <i class="fa-solid fa-people-carry-box fa-beat"></i> Workers
                </a>
                
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-secondary" id="sidebarToggle"><i class="fas fa-bars"></i></button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-user"></i></a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa-solid fa-right-from-bracket fa-spin"></i> Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                  
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid px-4">
                @RenderBody()
                <hr />
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">&copy; @DateTime.Now.Year - Vacation Manager</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    }



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Bootstrap core JS-->

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/Dashboard/Content/js/scripts.js"></script>
    
</body>
</html>
